.journey-carousel .jc-details picture {
    display: none;
}

.section.journey-carousel-container {
    padding: 35px 15px;
}

.journey-carousel .jc-details p {
    margin: 0;
}

.journey-carousel .jc-details {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.journey-carousel .jc-details h3 {
    color: #164b91;
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

.journey-carousel .jc-details h3+p {
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    font-weight: bold;
    color: #164b91;
}

.journey-carousel .jc-items {
    vertical-align: middle;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: url("../../icons/mobile-dotted.webp") center 60px no-repeat;
    width: 100%;
    padding: 0;
    background-size: 80% 80%;
}

.journey-carousel .jc-items>*:nth-child(even) {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

.journey-carousel .jc-items>*:nth-child(odd) {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

.journey-carousel .jc-item-details img {
    display: block;
}

.journey-carousel .jc-item-details h3 {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.journey-carousel .jc-item-details h3+p {
    width: 100%;
    color: #959695;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
}

.journey-carousel .jc-arrow,
.journey-carousel .arrow-div {
    display: none;
}

.journey-carousel .jc-items .jc-item.clone {
    display: none;
}

@media (width >=768px) {
    .journey-carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 24px;
        padding: 0 15px;
    }

    .journey-carousel .carousel-div {
        position: relative;
        overflow: hidden;
        margin-left: 50px;
        padding: 2px;
    }

    .journey-carousel .jc-details h3 {
        font-size: 15px;
    }

    .journey-carousel .jc-details h3+p {
        font-size: 16px;
        text-transform: unset;
    }

    .journey-carousel .jc-item-details h3 {
        font-size: 14px;
    }

    .journey-carousel .jc-details {
        width: 75%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px;
    }

    .journey-carousel .jc-details>div>p:first-child {
        display: none;
    }

    .journey-carousel .jc-details picture {
        display: block;
    }

    .journey-carousel .jc-details>div {
        display: flex;
        flex-direction: column-reverse;
    }

    .journey-carousel .jc-details>div>p:not(:first-child) {
        display: block;
    }

    .journey-carousel .jc-items {
        vertical-align: baseline;
        transition: transform 0.3s ease;
        flex-direction: row;
        background: none;
    }

    .journey-carousel .jc-items .jc-item {
        flex: 0 0 50%;
        box-sizing: border-box;
        transition: all 0.25s ease 0s;
        align-self: auto;
        flex-direction: row;
    }

    .journey-carousel .arrow-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }

    .journey-carousel .left-arrow {
        width: 32px;
        height: 32px;
        background: url("../../icons/left.webp") center center no-repeat;
        text-indent: -9999px;
        margin: 20px 0;
    }

    .journey-carousel .right-arrow {
        width: 32px;
        height: 32px;
        background: url("../../icons/right.webp") center center no-repeat;
        text-indent: -9999px;
        margin: -10px 0;
    }

    .section.journey-carousel-container {
        padding: 35px 0;
    }

    .journey-carousel .jc-arrow {
        transform: translateX(-75%) translateY(-30%);
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 35%;
        background: url("../../icons/arrow.webp") center center no-repeat;
        background-size: contain;
    }

    /* .journey-carousel .jc-items .jc-item .jc-arrow:first-of-type {    
        clip-path: inset(0 0 0 50%);
     } */
}

@media (width >=1024px) {
    .section.journey-carousel-container {
        padding: 50px 0;
    }

    .journey-carousel .jc-arrow {
        transform: translateX(-75%) translateY(-35%);
        width: 15%;
    }

    .journey-carousel .journey-carousel {
        margin: 0 30px;
    }

    .journey-carousel .jc-details {
        width: 25%;
    }

    .journey-carousel .arrow-div {
        display: none;
    }

    .journey-carousel .jc-items .jc-item.clone {
        display: none;
    }

    .journey-carousel .jc-items .jc-item {
        flex: 0 0 25%;
        transition: all 0.25s ease 0s;
    }

    .journey-carousel .jc-items .jc-item div.jc-arrow:last-of-type {
        transform: translateX(80%) translateY(-35%);
        width: 15%;
        clip-path: inset(0 50% 0 0);
    }

    .journey-carousel .jc-item-details {
        flex: 1;
    }

    .journey-carousel .jc-details h3 {
        font-size: 26px;
    }

    .journey-carousel .jc-details h3+p {
        font-size: 25px;
        text-transform: unset;
    }
}