.journey-carousel .jc-details picture {
    display: none;
}

.section.journey-carousel-container {
    padding: 0px 15px;
}

.journey-carousel .jc-details p {
    margin: 0;
}

.journey-carousel .jc-details {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.journey-carousel .jc-details h3 {
    color: #164b91;
    width: 100%;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    /*font-family: "Lato", sans-serif;*/
    margin: 0px;
}

.journey-carousel .jc-details h3+p {
    margin: 0px;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.2;
    width: 100%;
    font-weight: bold;
    color: #164b91;
    /*font-family: "Lato", sans-serif;*/
}

.journey-carousel .jc-items {
    vertical-align: middle;
    margin: 0 0px;
    display: flex;
    flex-direction: column;
    background: url("../../icons/mobile-dotted.webp") center 60px no-repeat;
    width: 100%;
    padding: 0px;
    background-size: 80% 80%;
}

.journey-carousel .jc-items>*:nth-child(odd) {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

.journey-carousel .jc-items>*:nth-child(even) {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: start;
}

.journey-carousel .jc-item-details img {

    display: block;
}

.journey-carousel .jc-item-details h3 {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.journey-carousel .jc-item-details h3+p {
    width: 100%;
    color: #959695;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
    line-height: 20px;
}

.carouselDiv {
    display: none;
}

@media (width >=768px) {

    .journey-carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 30px;
        padding: 0px 15px;
    }

    .journey-carousel .jc-details h3 {
        font-size: 26px;
    }

    .journey-carousel .jc-details h3+p {
        font-size: 25px;
        text-transform: unset;
    }

    .journey-carousel .jc-item-details h3 {
        font-size: 14px;
    }

    .journey-carousel .jc-details {
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        margin: 0 -2px;
    }

    .journey-carousel .jc-details>div>p:first-child {
        display: none;
    }

    .journey-carousel .jc-details picture {
        display: block;
    }

    .journey-carousel .jc-details>div {
        display: flex;
        flex-direction: column-reverse;
    }

    .journey-carousel .jc-details>div>p:not(:first-child) {
        display: block;
    }

    .journey-carousel .jc-items {
        vertical-align: baseline;
        margin: 0 0px;
        display: flex;
        flex-direction: row;
        background: none;
        width: 80%;
        padding: 0px;
        background-size: 80% 80%;
        align-items: center;
    }

    .journey-carousel .jc-items .jc-item {
        display: none;
    }

    /* div.jc-arrow::after {
        content: url("../../icons/arrow.webp");
        display: inline;
        
    } */
    .carouselDiv {
        display: block;
        align-items: center;
    }

    .journey-carousel .jc-items>*:nth-child(1),
    .journey-carousel .jc-items>*:nth-child(2) {
        display: flex;

    }

    .leftArrow {
        width: 32px;
        height: 32px;
        background: url("../../icons/left.webp") center center no-repeat;
        text-indent: -9999px;
        margin: 5px 0;
        border-radius: 50%
    }

    .rightArrow {
        width: 32px;
        height: 32px;
        background: url("../../icons/right.webp") center center no-repeat;
        text-indent: -9999px;
        margin: 5px 0;
        border-radius: 50%
    }
}

@media (width >=1024px) {

    .journey-carousel .jc-items>*:nth-child(odd),
    .journey-carousel .jc-items>*:nth-child(even) {
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 80%;
    }

    .carouselDiv {
        display: none;
    }

    .jc-arrow {
        display: inline-block;
        flex: 0 0 20%;
        height: 100%;
        width: 20%;
        background: url("../../icons/arrow.webp") center center no-repeat;
        /* Set background image */
        background-size: contain;
        /* Ensure the image scales correctly */
    }

    .jc-item-details {
        flex: 1;
    }
}